<%
   # related_id = params[:associations] && params[:associations][field.name.to_s]
   # puts 'related_id => ' + related_id.to_s

   config = field.associated_model_config
   puts 'config => ' + config.to_s

   source_abstract_model = RailsAdmin.config(form.object.class).abstract_model
   puts 'source_abstract_model => ' + source_abstract_model.to_s

   selected = form.object.send(field.name)
   selected_ids = selected.map(&:id)
   puts 'selected_ids => ' + selected_ids.to_s

   edit_url = authorized?(:edit, config.abstract_model) ? edit_path(:model_name => config.abstract_model.to_param, :id => '__ID__') : ''
   puts 'edit_url => ' + edit_url.to_s

   xhr = !field.associated_collection_cache_all

   collection = if xhr
                  selected.map { |o| [o.send(config.object_label_method), o.id] }
                else
                  i = 0
                  controller.list_entries(config, :index, field.associated_collection_scope, false).map { |o| [o.send(config.object_label_method), o.id] }.sort_by {|a| [selected_ids.index(a[1]) || selected_ids.size, i+=1] }
                end
   selected_ids = (hdv = field.html_default_value).nil? ? selected_ids : hdv
   slected_ids_string = selected_ids.join(" ")
   puts 'slected_ids_string => ' + slected_ids_string.to_s
%>

<h2><%= slected_ids_string %></h2>
<% loop_count = 5 if selected_ids.count < 5 %>
<% selected_ids.each do |project_id| %>
    <%= image_tag get_image_with_object_and_style(Project.find_by_id(project_id), 'cover') , :class => 'admin_project_thumb', :'data-project-id' => project_id %>

    <%= link_to "delete", "", :confirm => t(:delete_confirm), :class => "delete", :title => t(:delete) %>

<% end %>
<% (loop_count.to_i - selected_ids.count).times do %>
    <%= image_tag ("project_image_placeholder.jpeg"), :size => "180x180", :class => 'admin_project_thumb' %>
<% end %>

<hr>

<%= form.hidden_field field.method_name %>

<style type="text/css">
    .delete {
        position: absolute;
        text-indent: -9999px;
        margin-left: 80px;
        margin-top: -20px;
        width:20px;
        height: 20px;
        opacity: 0.1;
    }
</style>

<script>
    $(function() {

        // Initially hide all x
        $('.admin_project_remove_link').hide();

        // Bring picker when clicked on tumb
        $(".admin_project_thumb").live("click", function() {
            // If empty place open selector window
            if( $(this).attr('data-project-id') == undefined) {
                window.open('/admin/feature/projects/picker?project_ids=<%= slected_ids_string %>' , 'Project Picker', 'location=no,menubar=no,directories=no,status=no,resizable=no,scrollbars=yes,height=300,width=600', false);
            }
        });

        // Show x on hover
        $('.admin_project_thumb').hover(function() {
            if( $(this).attr('data-project-id') != undefined) {
                $(this).next().show();
            }
        }, function() {
            $('.admin_project_remove_link').hide();
        });

        // Remove on cliked x
        $('.admin_project_remove_link').live("click", function(e) {
            e.preventDefault();
        });
    });
</script>